Twisted==16.6.0
git+https://github.com/lbryio/lbryschema.git@v0.0.4#egg=lbryschema
git+https://github.com/lbryio/lbryum-server.git@v1.0.2#egg=lbryum-server
git+https://github.com/lbryio/lbryum.git@v2.7.21#egg=lbryum
git+https://github.com/lbryio/lbry.git@v0.10.0rc11#egg=lbrynet
fuzzywuzzy
python-Levenshtein
PyYAML
python-bitcoinrpc==0.1
